* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: rgb(13, 20, 14);
    background-size: cover;
    background-position: center;
    background-image: url(/home/img/body.jpeg);
  }
  .jp{
    border-radius:60px ;
  }


 li{
    list-style: none;
  }

 a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
  }
  
  a:hover{
    color: chartreuse;
    transition: 0.5S;
  }


  /* head */

  header{
    position: relative;
    padding: 0 2rem;
  }

  .navbar{
    width: 100%;
    height: 70px;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .navbar .logo a{
    font-size: 2rem;
    font-weight: bold;

  }
  .navbar .links{
    display: flex;
    gap: 3.5rem;
  }

  .navbar .toggle_btn{
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action_btn{
    background-color: rgb(0, 226, 49);
    padding: 0.5rem 1rem ;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  .action_btn:hover{
    scale: 1.05;
    color: rgb(0, 0, 0);
  }

  .action_btn :active{
    scale: 0.95;

  }


  /* dropdow */

  .dropdown_menu{ 
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: black;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: .2s cubic-bezier(0.175, 0.85 ,0.32 ,1.275);
    display: none;
  }
  .dropdown_menu.open{
    height: 240px;
    
  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  /* hero */

  
  /* desing RE */

  @media (max-width: 900px  ){
    .navbar .links,
    .navbar .action_btn{
        display: none;  
    }
    .navbar .toggle_btn {
        display: block;

    }
  }

  .dropdown_menu{
    display: block;
  }

  @media (max-width: 550px){
    .dropdown_menu{
      left: 2rem;
      width: unset;

    }
  }


  img {
    width: 100%;
  }
  
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .user-info img {
    max-width: 350px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
  }
  
  
.user-info p {
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  margin: -15px 0 30px;
  font-weight: bold;
}

.user-info p:hover{
  color: chartreuse;
  transition: 1s;

}


.reviews{
  margin: 4rem;
  background-color: rgb(91, 93, 94);
  border-radius: 3rem;
}

.reviews h1 {
  margin: 70px 0 5px;;
  color: aliceblue;
  padding: 2rem;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}



.review-card {
  padding: 2rem;
}

.review-card h2 {
  margin-bottom: 8px;
  color: aliceblue;
}

.review-card p {
  margin-top: 10px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: aliceblue;

  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}


